@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #c5e6db;
  font-family: 'Poppins', sans-serif;
  max-height: 100vh;
  transition: 0.25s;
}

@layer utilities {
  .text-shadow-3p {
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  }
}

.scrollable-wrapper::-webkit-scrollbar {
  display: none;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.card {
  padding: 5vh 10vw 10vh 10vw;
  margin: 5vh 5vw 15vh 5vw;
  height: 50vh;
  background-color: white;
  color: rgba(0, 0, 0, .55);
  border-radius: 2.5vw;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 0.25);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
  transition: 0.25s;
  height: 95%;
}

.scrollable-wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  transition: 0.25s;
  width: 100vw;
}

.scrollable {
  position: relative;
  top: 2.5vh;
  height: 70vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  transition: 0.25s;
  margin-top: 5px;
}

.buttons {
  display: flex;
  margin: 5vh 5vw 2vh 5vw;
  justify-content: space-evenly;
  z-index: 1000;
}

.button {
  text-decoration: none;
  text-transform: capitalize;
  background-color: white;
  padding: 1.5vh 7vw 1.5vh 7vw;
  margin: 0vh 2vw 0vh 2vw;
  color: black;
  font-weight: 600;
  font-size: larger;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 0.15);
  border-radius: 2.5vw;
  transition: 0.25s;
}
